/* Страница */
.login {
	position: relative;
	display: grid;
	grid-template-columns: clamp(0rem, -44.444rem + 92.59vw, 25rem) auto clamp(
			0rem,
			-44.444rem + 92.59vw,
			25rem
		);
	/* width: calc(100vw - 2 * var(--pad)); */
	height: 100vh;
	/* background-color: aquamarine; */
}
/* Основное содержимое */
.login-content {
	grid-area: 1/2/1/2;
	display: flex;
	min-width: 320px;
	max-width: 380px;
	width: 100%;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	/* background-color: antiquewhite; */
}
/* Заголовок */
.login-title {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 32px;
}
.login-title > img {
	height: 80px;
}
.login-title > p {
	font-size: 40px;
	font-weight: 400;
	white-space: nowrap;
	color: var(--primary);
}

/* Форма */
.login-form {
	display: flex;
	flex-direction: column;
	padding-top: 16px;
	width: 100%;
	border: none;
	row-gap: 16px;
	/* align-items: center; */
}
.login-form-btn {
	border-radius: 10px;
	height: 50px;
	background: linear-gradient(
		267.41deg,
		rgb(147, 195, 255) -0.17%,
		rgb(183, 160, 255) 40.96%,
		rgb(218, 123, 255) 88.56%
	);
	font-size: var(--fsz28);
}

/* Кнопки - забыт пароль */
.login-forget {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-top: 6px;
	/* font-size: 24px!important; */
}
.btn-text{
	font-size: 18px;
	font-weight: 400;
}

/* Кнопки - нет аккаунта, зарегистрироваться */
.login-noacc {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 64px;
}
.login-noacc > p {
	display: flex;
	text-align: center;
	font-size: 16px;
}

/* Переключение языка */
.login-lang {
	display: flex;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	gap: var(--fsz12);
}
.lang {
	text-align: center;
	color: var(--input);
	font-size: 12px;
}
.lang-active {
	color: var(--card);
	font-size: 20px;
}
